---
layout: default
key: home
title: Rong Zhuang's Profile
---
<div style="background:transparent !important" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img  class="img-rounded avatar my_photo" alt="Rong Zhuang's Profile" src="public/assets/rz-200px.png">
        <!--<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="rongzhuang"><a class="LI-simple-link" href='https://www.linkedin.com/in/rongzhuang?trk=profile-badge'>Rong Zhuang</a></div>-->
      </div>
      <div class="col-sm-8 index-content">
        <p>Hi, welcome to my personal website. I'm Rong Zhuang, a full-stack developer, currently working at <a href="http://www.ariba.com/">SAP Ariba</a>, located in Palo Alto, California. I have over 10 years' experience of software development in the IT industry. </p>
          <!--<p>I'm <b>not</b> seeking any new position at this time. Please don't contact me for new job opportunities. However, you are welcomed to connect me at <a href="https://www.linkedin.com/in/rongzhuang
      ">LinkedIn</a>.</p>-->
        <p>Look through my 15+ <a href="portfolio/">portfolios</a>(Live demo is available for web apps) and read 160+ <a href="tutorial/">tutorials</a> to learn how to build web and mobile applications with Angular, React, iOS, Android, etc; and learn how to deploy web apps to cloud services like Amazon EC2, Azure, Heroku and Netlify.</p>
        <p>Feel free to connect me on <a href="{{site.author.linkedin}}">LinkedIn</a> and <a href="{{site.author.github}}">GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>

<!--<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>-->
