---
layout: default
key: blog
blog: list
title: Rong Zhuang's Blog
---
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    <!--Sample: https://bootsnipp.com/snippets/WR0r1-->
    <!--/assets/css/newslist.css-->
        <h1 class="page-header">{{ page.title }}</h1>
        <dl class="dl-unsur-blog">
          {% for post in site.posts %}
            <dd>
              <a href="{{ post.url }}" title="{{ post.title }}">
                  <div>{{ post.title }}</div>
              </a>
              <div class="float-left"><p class="small"><i class="far fa-calendar-alt"></i> {{ post.date | date_to_string }}</p></div>
              <div class="tag float-right">{{ post.tags | array_to_sentence_string}}</div>
            </dd>
          {% endfor %}
        </dl>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
